# Python Context
maintai_env/
venv/
.venv/
__pycache__/
*.pyc

# React / Node Context
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Jupyter & Data
.ipynb_checkpoints/
data/
*.pkl

# Personal Notes
Notes/
DatasetExplanation/
